@import "tailwindcss";




@layer base {
  html {
    /* Pixel fonts usually need to be at least 18px or 20px to feel 'normal' */
    font-size: 22px; 
  }}


@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

